<body class="container">
    <h1 class="text-center">APONTAMENTO DE HORAS</h1>
    <main class="row">
        <header class="col-md-3">
            <div class="btn-group-vertical">
                <a href="/"><button class="btn btn-dark">Home</button></a>
                <a href="/cadastroSetor"><button class="btn btn-dark mt-1">Cadastro de Setor</button></a>
                <a href="/setor"><button class="btn btn-dark mt-1">Lista de Setores</button></a>
                <a href="/cadastroFuncionario"><button class="btn btn-dark mt-1">Cadastro de Funcionário</button></a>
                <a href="/funcionarios"><button class="btn btn-dark mt-1">Lista de Funcionários</button></a>
                <a href="/cadastroMaquina"><button class="btn btn-dark mt-1">Cadastro de Máquina</button></a>
                <a href="/maquina"><button class="btn btn-dark mt-1">Lista de Máquinas</button></a>
                <a href="/cadastroCliente"><button class="btn btn-dark mt-1">Cadastro de Cliente</button></a>
                <a href="/cliente"><button class="btn btn-dark mt-1">Lista de Clientes</button></a>
                <a href="/cadastroOperacao"><button class="btn btn-dark mt-1">Cadastro de Operação</button></a>
                <a href="/operacao"><button class="btn btn-dark mt-1">Lista de Operação</button></a>
                <a href="/cadastroDi"><button class="btn btn-dark mt-1">Cadastro de DI</button></a>
                <a href="/di"><button class="btn btn-dark mt-1">Lista de DI</button></a>
                
            </div>
        </header>