<body class="container-fluid">
    <main class="row">
        <nav class="navbar navbar-expand-lg navbar-light text-light bg-dark mt-2">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-light">
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Cadastros
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/cadastroApontamento">Cadastro Apontamento</a></li>
                      <li><a class="dropdown-item" href="/cadastroCliente">Cadastro Cliente</a></li>
                      <li><a class="dropdown-item" href="/cadastroDi">Cadastro DI</a></li>
                      <li><a class="dropdown-item" href="/cadastroFuncionario">Cadastro Funcionário</a></li>
                      <li><a class="dropdown-item" href="/cadastroMaquina">Cadastro Máquina</a></li>
                      <li><a class="dropdown-item" href="/cadastroOperacao">Cadastro Operacao</a></li>
                      <li><a class="dropdown-item" href="/cadastroParada">Cadastro Paradas</a></li>
                      <li><a class="dropdown-item" href="/cadastroSetor">Cadastro Setor</a></li>
                      <li><a class="dropdown-item" href="users/cadastroUsuario">Cadastro Usuario</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Listas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/apontamento">Apontamento</a></li>
                      <li><a class="dropdown-item" href="/cliente">Clientes</a></li>
                      <li><a class="dropdown-item" href="/di">DI</a></li>
                      <li><a class="dropdown-item" href="/funcionarios">Funcionários</a></li>
                      <li><a class="dropdown-item" href="/maquina">Máquinas</a></li>
                      <li><a class="dropdown-item" href="/operacao">Operações</a></li>
                      <li><a class="dropdown-item" href="/parada">Paradas</a></li>
                      <li><a class="dropdown-item" href="/setor">Setores</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>