<body class="container">
    <h1 class="text-center">APONTAMENTO DE HORAS</h1>
    <main class="row">
        <header class="col-md-3">
            <div class="btn-group-vertical">
                <form action="/" method="GET">
                    <button class="btn btn-dark">Home</button>
                </form>
                <form action="/cadastroSetor" method="GET">
                    <button class="btn btn-dark mt-1">Cadastro de Setor</button>
                </form>
                <form action="/setor" method="GET">
                    <button class="btn btn-dark mt-1">Lista de Setores</button>
                </form>
                <form action="/cadastroFuncionario" method="GET">
                    <button class="btn btn-dark mt-1">Cadastro de Funcion치rio</button>
                </form>
                <form action="/funcionarios" method="GET">
                    <button class="btn btn-dark mt-1">Lista de Funcion치rios</button>
                </form>
                <form action="/cadastroMaquina" method="GET">
                    <button class="btn btn-dark mt-1">Cadastro de M치quina</button>
                </form>
                <form action="/maquina" method="GET">
                    <button class="btn btn-dark mt-1">Lista de M치quinas</button>
                </form>
                <form action="/cadastroCliente" method="GET">
                    <button class="btn btn-dark mt-1">Cadastro de Cliente</button>
                </form>
                <form action="/cliente" method="GET">
                    <button class="btn btn-dark mt-1">Lista de Clientes</button>
                </form>
                <form action="/cadastroDi" method="GET">
                    <button class="btn btn-dark mt-1">Cadastro de DI</button>
                </form>
                <form action="/di" method="GET">
                    <button class="btn btn-dark mt-1">Lista de DI</button>
                </form>
                
            </div>
        </header>