<%- include('./partials/head') %>
<%- include('./partials/header') %>
        <section class="col-md-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <h4>Cadastro de Setor</h4>
                    <form action="/cadastroSetor" method="post">
                        <label for="id">Codigo: </label>
                            <input type="number" disabled name="id" class="form-control">
                        <label for="setor">Setor: </label>
                            <input type="text" name="setor" class="form-control" required>
                        <button type="submit" class="btn btn-success mt-4">Cadastrar</button>
                    </form>
                </div>
            </div>    
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>