<%- include('./partials/head') %>
<%- include('./partials/header') %>
<%- include('./partials/footer') %>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Apontamentos</div>
                    <div class="card-body">
                      <h5 class="card-title">Apontamento de horas</h5>
                      <p class="card-text">Tela para apontamento de horas!</p>
                      <a href="./apontamento"> <button class="btn btn-light">Lista de apontamentos</button></a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</body>